@{
    ViewData["Title"] = "Vehicles";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"> *@

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/home-radio-input.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css">
</head>
<body>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <div class="radio-input">
                <label class="label">
                    <input value="all-makes" name="value-radio" id="value-1" type="radio" checked />
                    <span class="text">All Makes</span>
                </label>
                <label class="label">
                    <input value="vehicle-types" name="value-radio" id="value-2" type="radio" />
                    <span class="text">Vehicle Types</span>
                </label>
                <label class="label">
                    <input value="vehicle-models" name="value-radio" id="value-3" type="radio" />
                    <span class="text">Vehicle Models</span>
                </label>
            </div>
        </div>
        <div class="col-lg-5"></div>
    </div>
    <div class="row">
        <div id="allMakes_div">
            <div class="col-lg-12 p-3">
                <h3>All Makes Data</h3><br />
                <table id="example" class="table table-striped" style="width:100%">
                    <thead class="table-dark">
                        <tr>
                            <th>Mark Id</th>
                            <th>Mark Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Mark Id test data</th>
                            <th>Mark Name test data</th>
                        </tr>
                        <tr>
                            <th>Mark Id test data</th>
                            <th>Mark Name test data</th>
                        </tr>
                        <tr>
                            <th>Mark Id test data</th>
                            <th>Mark Name test data</th>
                        </tr>
                        <tr>
                            <th>Mark Id test data</th>
                            <th>Mark Name test data</th>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <div id="vehicleTypes_div" style="display: none;">
            <div class="col-lg-12 p-3">
                <table id="vehicleTypes_table" class="table table-striped" style="width:100%">
                    <thead class="table-dark">
                        <tr>
                            <th>Vehicle Type Id</th>
                            <th>Vehicle Type Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Vehicle Type Id test data</th>
                            <th>Vehicle Type Name test data</th>
                        </tr>
                        <tr>
                            <th>Vehicle Type Id test data</th>
                            <th>Vehicle Type Name test data</th>
                        </tr>
                        <tr>
                            <th>Vehicle Type Id test data</th>
                            <th>Vehicle Type Name test data</th>
                        </tr>
                        <tr>
                            <th>Vehicle Type Id test data</th>
                            <th>Vehicle Type Name test data</th>
                        </tr>
                        <tr>
                            <th>Vehicle Type Id test data</th>
                            <th>Vehicle Type Name test data</th>
                        </tr>
                        <tr>
                            <th>Vehicle Type Id test data</th>
                            <th>Vehicle Type Name test data</th>
                        </tr>
                        <tr>
                            <th>Vehicle Type Id test data</th>
                            <th>Vehicle Type Name test data</th>
                        </tr>
                        <tr>
                            <th>Vehicle Type Id test data</th>
                            <th>Vehicle Type Name test data</th>
                        </tr>
                        <tr>
                            <th>Vehicle Type Id test data</th>
                            <th>Vehicle Type Name test data</th>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <div id="vehicleModels_div" style="display: none;">
            <div class="col-lg-12 p-3">
                <table id="vehicleModels_table" class="table table-striped" style="width:100%">
                    <thead class="table-dark">
                        <tr>
                            <th>Make ID</th>
                            <th>Make Name</th>
                            <th>Model ID</th>
                            <th>Model Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Make ID Testing DATA</th>
                            <th>Make Name Testing DATA</th>
                            <th>Model ID Testing DATA</th>
                            <th>Model Name Testing DATA</th>
                        </tr>
                        <tr>
                            <th>Make ID Testing DATA</th>
                            <th>Make Name Testing DATA</th>
                            <th>Model ID Testing DATA</th>
                            <th>Model Name Testing DATA</th>
                        </tr>
                        <tr>
                            <th>Make ID Testing DATA</th>
                            <th>Make Name Testing DATA</th>
                            <th>Model ID Testing DATA</th>
                            <th>Model Name Testing DATA</th>
                        </tr>
                        <tr>
                            <th>Make ID Testing DATA</th>
                            <th>Make Name Testing DATA</th>
                            <th>Model ID Testing DATA</th>
                            <th>Model Name Testing DATA</th>
                        </tr>
                        <tr>
                            <th>Make ID Testing DATA</th>
                            <th>Make Name Testing DATA</th>
                            <th>Model ID Testing DATA</th>
                            <th>Model Name Testing DATA</th>
                        </tr>
                        <tr>
                            <th>Make ID Testing DATA</th>
                            <th>Make Name Testing DATA</th>
                            <th>Model ID Testing DATA</th>
                            <th>Model Name Testing DATA</th>
                        </tr>
                        <tr>
                            <th>Make ID Testing DATA</th>
                            <th>Make Name Testing DATA</th>
                            <th>Model ID Testing DATA</th>
                            <th>Model Name Testing DATA</th>
                        </tr>
                        <tr>
                            <th>Make ID Testing DATA</th>
                            <th>Make Name Testing DATA</th>
                            <th>Model ID Testing DATA</th>
                            <th>Model Name Testing DATA</th>
                        </tr>
                        <tr>
                            <th>Make ID Testing DATA</th>
                            <th>Make Name Testing DATA</th>
                            <th>Model ID Testing DATA</th>
                            <th>Model Name Testing DATA</th>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>


    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
<script>
    new DataTable('#example');
    let allMakes_table, vehicleTypes_table, vehicleModels_table;

    $(document).ready(function () {
        allMakes_table = $('#allMakes_table').DataTable({
            ajax: {
                url: '/api/makes',/* TODO: Back-end(Link Api) */
                dataSrc: ''
            },
            columns: [
                { data: 'Make_ID' },
                { data: 'Make_Name' }
            ]
        });

        // vehicleTypes_table = $('#vehicleTypes_table').DataTable({
        //     ajax: {
        //         url: '/api/vehicletypes',/* TODO: Back-end(Link Api) */
        //         dataSrc: ''
        //     },
        //     columns: [
        //         { data: 'VehicleTypeId' },
        //         { data: 'VehicleTypeName' }
        //     ]
        // });

        // vehicleModels_table = $('#vehicleModels_table').DataTable({
        //     ajax: {
        //         url: function (data) {
        //             const p1 = 1;
        //             const p2 = 2;
        //             return `/api/models?p1=${p1}&p2=${p2}`; /* TODO: Back-end(Link Api) */
        //         },
        //         dataSrc: ''
        //     },
        //     columns: [
        //         { data: 'Make_ID' },
        //         { data: 'Make_Name' },
        //         { data: 'Model_ID' },
        //         { data: 'Model_Name' }
        //     ]
        // });

        toggleDivs();
    });

    function toggleDivs() {
        const selectedValue = document.querySelector('input[name="value-radio"]:checked').value;

        document.getElementById("allMakes_div").style.display = "none";
        document.getElementById("vehicleTypes_div").style.display = "none";
        document.getElementById("vehicleModels_div").style.display = "none";

        if (selectedValue === "all-makes") {
            document.getElementById("allMakes_div").style.display = "block";
        }
        else if (selectedValue === "vehicle-types") {
            document.getElementById("vehicleTypes_div").style.display = "block";
        }
        else if (selectedValue === "vehicle-models") {
            document.getElementById("vehicleModels_div").style.display = "block";
        }
    }

    const radios = document.querySelectorAll('input[name="value-radio"]');
    radios.forEach(radio => {
        radio.addEventListener("change", toggleDivs);
    });
</script>